.portfolio{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 20px 180px 20px;
    margin: auto;
}

.portfolio__title{
    font-size: 46px;
    font-weight: 400;
    padding-bottom: 75px;
    flex:1 0 auto;
}

@media (max-width: 1012px) {
    .portfolio__title{
        padding-bottom:35px;
    }
}

@media (max-width: 960px) {
    .portfolio{
        padding: 0 50px 100px 50px;
    }
}

@media (max-width: 690px) {
    .portfolio__title{
        font-size: 36px;
        line-height: 42px;
    }
}
