.services-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}

.services-list__item{
    padding: 8px 0;
}

.services-list__link{
    font-size: 18px;
    text-decoration: none;
    color: #000000;
}

.services-list__link:hover{
    color: #005999;
}

@media (max-width: 824px) {
    .services-list{
        margin-bottom: 20px;
    }
}